<article>
    <h2>A liitle about me</h2>
</article>
<p>Some info</p>
<article>
    <h3>A lot about me</h3>
    <section>
        <h4>Academics</h4>
        <p></p>
    </section>
    <section>
        <h4>Personal Life</h4>
        <p></p>
    </section>
    <section>
        <h4>Plans for the future...</h4>
        <p></p>
    </section>
</article>