<h1>My projects</h1>
{{#each projects as |project|}}
<article>
    <h2>{{project.name}}</h2>
    <figure>
        <img src="{{project.image}}" />
        <figcaption>{{project.status}}</figcaption>
    </figure>
    <p>{{project.description}}</p>
</article>
<wbr/>
<p>And more coming soon!</p>
{{/each}}